body {
  height: 100vh;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background: #F5F7DC;
  font-size: 120%;
}

.header {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #B5D99C;
  color: #000000d0;
  box-shadow: 0px 0px 10px 0px #888;
}
.contain {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
}
.card {
  background: #B5D99C;
  color: white;
  padding: 2em;
  border-radius: 30px;
  width: 100%;
  max-width: 500px;
  box-shadow: 0px 0px 10px 0px #888888;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.choices {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0;
  height: 100%;
}

.choice {
  margin: 0.5em;
  border-radius: 30px;
  text-align: center;
  border: none;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  width: 50%;
  outline: none;
  background-color: #62929E;
  box-shadow: 0px 0px 10px 0px #888;
  color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  font-size: 18px;
}

.choice:visited {
  color: white;
}

.choice:hover {
  background-color: grey;
  color: white;
}

.page-footer {
  bottom: 0;
  position: fixed;
}

.row {
  background-color: #B5D99C;
  box-shadow: 0px 0px 3px 0px #888888;
  display: flex;
  justify-content: space-around;
  align-items: center;
  opacity: 90%;
}

.picon {
  color: #2a2a2a !important;
  margin: 1vw;
  text-decoration: none;
}

.picon:hover {
  color: white;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

@media (max-width: 500px) {
  .page-footer {
    position: absolute;
    bottom: 0;
  }
  .row {
    background-color: #2a2a2a;
    visibility: hidden;
  }
}
